[submodule "many_faces_backend"]
	path = many_faces_backend
	url = https://github.com/01laky/many_faces_backend.git
[submodule "many_faces_portal"]
	path = many_faces_portal
	url = https://github.com/01laky/many_faces_portal.git
[submodule "many_faces_admin"]
	path = many_faces_admin
	url = https://github.com/01laky/many_faces_admin.git
[submodule "many_faces_ai"]
	path = many_faces_ai
	url = https://github.com/01laky/many_faces_ai.git
[submodule "many_faces_database"]
	path = many_faces_database
	url = https://github.com/01laky/many_faces_database.git
[submodule "many_faces_redis"]
	path = many_faces_redis
	url = https://github.com/01laky/many_faces_redis.git
[submodule "many_faces_logger"]
	path = many_faces_logger
	url = https://github.com/01laky/many_faces_logger.git
[submodule "many_faces_mobile"]
	path = many_faces_mobile
	url = https://github.com/01laky/many_faces_mobile.git
[submodule "many_faces_elastic"]
	path = many_faces_elastic
	url = https://github.com/01laky/many_faces_elastic.git
[submodule "many_faces_push"]
	path = many_faces_push
	url = https://github.com/01laky/many_faces_push.git
[submodule "many_faces_mailer"]
	path = many_faces_mailer
	url = https://github.com/01laky/many_faces_mailer.git
