[submodule "be_demo"]
	path = be_demo
	url = https://github.com/01laky/be_demo.git
[submodule "fe_demo"]
	path = fe_demo
	url = https://github.com/01laky/fe_demo.git
[submodule "admin_demo"]
	path = admin_demo
	url = https://github.com/01laky/admin_demo.git
[submodule "ai_demo"]
	path = ai_demo
	url = https://github.com/01laky/ai_demo.git
[submodule "db_demo"]
	path = db_demo
	url = https://github.com/01laky/db_demo.git
